<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
        <div id="app">
            <div v-text:value="msg" style="width: 100%; height: 50px; border: 1px black solid; line-height: 50px; font-size: 30px;"></div>
            <input type="number" v-model:value="n1" @blur="change1" autofocus>
                <select name="" id="" v-model="options" @blur="change2">
                    <option value="*">*</option>
                    <option value="-">-</option>
                    <option value="+">+</option>
                    <option value="/">/</option>
                </select>
            <input type="number" v-model="n2" @blur="change3">
            <button @click="submit" >=</button>
        </div>
        <script>
            
            var vm = new Vue({
                el: '#app',
               data: {
                   msg: null,
                    count: "0",
                    n1: "0",
                    n2: "0",
                    options: '+'
               } ,
               methods: {
                    submit: function (){
                        var msg1 = this.n1 +this.options + this.n2;
                        this.count = eval(msg1);
                        this.msg = this.n1 +this.options + this.n2+"="+ this.count;
                    },
                    change1: function(){
                        this.msg = this.n1;
                    },
                    change2: function(){
                        this.msg = this.n1+this.options;
                    },
                    change3: function(){
                        this.msg = this.n1 +this.options + this.n2+"=";
                    },        
               },
            });
        </script>
</body>
</html>